div.square {
    width: 100px;
    height: 100px;
    position: absolute;
}

div#div1 {
    top: 100px;
    left: 500px;
    background-color: red;
}

div#div2 {
    top: 400px;
    left: 700px;
    background-color: brown;
}

div#div3 {
    top: 10px;
    left: 50px;
    background-color: black;
}

div#div4 {
    top: 250px;
    left: 200px;
    background-color: aqua;
}

div#div5 {
    top: 250px;
    left: 400px;
    background-color: green;
}

div#div6 {
    top: 450px;
    left: 250px;
    background-color: #252525;
}